.container {
  display: flex;
  height: 100vh;
  background-color: #f6f9ff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 30px;
  background: #f6f9ff;
  overflow-y: auto;
}

.statsGrid {
  flex: 1;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  align-content: start;
}

.request {
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 20px;
}

.requestHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 16px 0;
}

.requestTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.requestCount {
  display: flex;
  width: fit-content;
  align-items: center;

  padding-inline: 6px;
  border-radius: 6px;
  background-color: #EFF6FF;
  height: 20px;
  margin: 0px;
}

.requestCountText {
  font-size: 12px;
  color: #0D3CCf;
  background-color: #EFF6FF;
  padding: 2px 6px;
  border-radius: 6px;
  margin: 0px;
}

.requestList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.requestCard {
  background: #FFFFFF;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.studentInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userIcon {
  font-size: 16px;
  color:#0D3CCF;
  width: 30px;
  height: 30px;
  background: #EFF6FF;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.studentName {
  font-weight: 600;
  margin: 0;
}

.studentRollNo {
  font-size: 12px;
  color: #666;
  margin-right: 6px;
}

.studentSection {
  color:#0D3CCF;
  font-size: 10px;
  font-weight: 500;
  background: #EFF6FF;
  padding: 2px 4px;
  border-radius: 6px;
}

.projectInfo {
  border-bottom: 1px solid #E5E7EB;
}

.projectName {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 6px 0;
}

.projectDescp {
  font-size: 12px;
  color: #6A7282;
  margin: 0 0 12px 0;
}

.dates {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: #6A7282;
  margin: 0 0 6px 0;
}

.singleDate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dates span {
  display: flex;
  align-items: center;
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionsRow button {
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.actionsRow p {
  margin: 0px;
  font-size: 12px;
}

.proposalButton {
  display: flex;
  align-items: center;
  gap: 5px;

  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
}

.rightActions {
  display: flex;
  gap: 10px;
}

.reject {
  display: flex;
  align-items: center;
  gap: 4px;

  background: #FFFFFF;
  border: 1px solid #DC2626;
  color: #DC2626;
}

.approve {
  display: flex;
  align-items: center;
  gap: 4px;

  border: none;
  background: #16A34A;
  color: #FFFFFF
}

.actionedTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectNameActioned {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 12px 0;
}

.approveLabel {
  font-size: 12px;
  color: #16A34A;
  background-color: #F0FDF4;
  padding: 2px 6px;
  border-radius: 6px;
  margin: 0px;
}

.rejectLabel {
  font-size: 12px;
  color: #DC2626;
  background-color: #FEF2F2;
  padding: 2px 6px;
  border-radius: 6px;
  margin: 0px;
}