/* Base Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e7eb;
  background: #fff;
  font-family: Inter, sans-serif;
  transition: width 0.3s ease;
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 18px;
  font-weight: 450;
}

.header button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  margin-right:4px;
  border-radius: 6px;
}

.header button:hover {
  background: #f3f4f6;
}

.logoBox {
  width: 32px;
  height: 32px;
  background: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* Menu */
.menu {
  flex: 1;
  padding: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 12px 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #374151;
  transition: opacity 0.2s ease;
}

.menuItem:hover {
  background: #f3f4f6;
}

.menuItem span {
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.2s ease, width 0.2s ease;
}

.active {
  background: #eff6ff;
  color: #2563eb;
  font-weight: 500;
}

.active svg {
  color: #2563eb;
}

.icon {
  width: 20px;
  height: 20px;
  background: #9ca3af;
  border-radius: 4px;
}

/* Bottom */
.bottom {
  padding: 10px;
}

.logout {
  padding: 0px;
  border-top: 1px solid #e5e7eb;
}

/* Collapsed State */
.collapsed {
  width: 70px;
}

.collapsed .menuItem {
  justify-content: center;
  padding: 12px 0;
  gap: 0;
}

.collapsed .menuItem span {
  opacity: 0;
  width: 0;
}