.container {
  display: flex;
  height: 100vh;
}

/* right side */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  background: #F6F9FF;
  overflow-y: auto;
}

.section{
  background: #FFFFFF;
  border: 1px solid #E5E7Eb;
  border-radius: 12px;
  margin:8px;
  padding: 20px;
}

.sectionTitle {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.statsGrid {
  flex: 1;
  padding: 8px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  align-content: start;
}

.projectsTopLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewAll {
  text-decoration: none;
  color: #0D3CCF;
  cursor: pointer;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  gap: 16px;
}

.projectCard {
  background: #FFFFFF;
  border: 1px solid #E5E7Eb;
  border-radius: 12px;
  padding: 16px;

  /* width: 234px;
  height: 134px; */
}

.cardIcons {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.bookIconWrapper {
  width: 36px;
  height: 36px;
  background-color: #F9FAFB;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.bookIcon {
  font-size: 18px;
  color: #0D3CCF;
}

.tickIconWrapper {
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  margin-left: 10px;
}

.tickIcon {
  font-size: 18px;
  color: #0D3CCF;
}

.progressHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressText{
  color: #6A7282;
}

.progressPercent {
  color: #0D3CCF;
}

.progressBar {
  width: 100%;
  height: 8px;
  background-color: #E5E7EB;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 8px;
}

.progressFill {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  /* transition: width 0.4s ease-in-out; */
}